NODE_ENV=production
HOST=0.0.0.0
PORT={{BACKEND_PORT}}
DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER={{DB_USER}}
DB_PASSWORD={{DB_PASSWORD}}
DB_NAME={{DB_NAME}}
JWT_SECRET={{JWT_SECRET}}
JWT_REFRESH_SECRET={{JWT_REFRESH_SECRET}}
CORS_ORIGIN=http://parque.rm.local
PUBLIC_FRONTEND_URL=http://parque.rm.local
PUBLIC_BACKEND_URL=http://parque.rm.local/api
